<strong>Sr {{ student }}</strong>
<p> Sua pergunta foi respondida, segue abaixo!</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data/hora: </strong> {{ answerDate }} <br />
  <br />

  <small>
    Pergunte o quanto precisar, estamos aqui para lhe ajudar :) .
  </small>
</p>
